<div class="container-fluid">



        <form class="row" action="general_information" method="post">
            <div class="col-md-6">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">General</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                <i class="fas fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="inputName">Project Name</label>
                            <input type="text" id="inputName" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="inputDescription">Project Description</label>
                            <textarea id="inputDescription" class="form-control" rows="4"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="inputStatus">Status</label>
                            <select class="form-control custom-select">
                                <option selected="" disabled="">Select one</option>
                                <option>On Hold</option>
                                <option>Canceled</option>
                                <option>Success</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="inputClientCompany">Client Company</label>
                            <input type="text" id="inputClientCompany" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="inputProjectLeader">Project Leader</label>
                            <input type="text" id="inputProjectLeader" class="form-control">
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <div class="col-md-6">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title">Budget</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                <i class="fas fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="inputEstimatedBudget">Estimated budget</label>
                            <input type="number" id="inputEstimatedBudget" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="inputSpentBudget">Total amount spent</label>
                            <input type="number" id="inputSpentBudget" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="inputEstimatedDuration">Estimated project duration</label>
                            <input type="number" id="inputEstimatedDuration" class="form-control">
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>

            <button type="submit" class="btn btn-primary btn-block btn-lg">SUBMIT</button>
        </form>
        <!--<div class="card-body login-card-body">
            <h3 class="login-box-msg">General Application</h3>

            <form action="/applicant/general_information" method="post">
                <div class="input-group mb-3">
                    <input type="text" name="courseName" class="form-control" placeholder="Programme Name" required>
                    <div class="input-group-append">
                        <div class="input-group-text">
&lt;!&ndash;                            <span class="fas fa-envelope"></span>&ndash;&gt;
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="number"  name="max" class="form-control" placeholder="Max Students">
                    <div class="input-group-append">
                        <div class="input-group-text">

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="social-auth-links text-center mb-3">
                        <button type="submit" class="btn btn-primary btn-block btn-lg">ADD PROGRAMME</button>
                    </div>
                    &lt;!&ndash; /.col &ndash;&gt;
                </div>


            </form>

        </div>-->
        <!-- /.login-card-body -->


    <hr/>


</div><!-- /.container-fluid -->
   